@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+TAS:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: px;
    padding: 0px;
    box-sizing: border-box;
}
.container1{
    height: 100vh;
    width: 100vw;
    background-color: red;
}
.brand{
    font-family: "Playwrite AU TAS", cursive;
    font-optical-sizing: auto;
    font-weight:bolder;
    font-style: normal;
}
.navbar{
    background-color: #ff2761!important;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.navbar a:hover {
    background-color: #e966894e;
    color: white;
}

.heroSection{
    margin-top:30px;
}

.slider {
    position: relative;
    width: 90%;
    max-width: 800px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.slides {
    display: flex;
    justify-content: end;
    transition: transform 0.5s ease-in-out;
    gap: 10px; /* Adjust the gap size as needed */
}
.slides img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    flex-shrink: 0;
}
@media (max-width: 768px) {
    .slider {
        width: 100%;
    }
}